<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #000000; /* 테두리 */
            padding: 12px 16px;     /* 셀 내부 간격 */
            text-align: left;
        }

        thead {
            background-color: #98d663;
        }

    </style>

    <link rel="stylesheet" th:href="@{/button_style.css}">
</head>

<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td>
        <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.title}"></a>
        </td>
        <td th:text="${board.content}"></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/board/create}" class="green-button">글 등록하기</a>
</body>